/*GLOBAL */
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

html {
	font-size: 62.5%;
}

body {
	background: #F2F1F4;
	font-family: "Open Sans", Arial;
	margin: 0;
	color: #6a6d70;
	font-size: 1.6rem;
	line-height: 1.8;
}

a {
	color: #49B2B4;
	text-decoration: none;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

a:hover {
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

img {
	max-width: 100%;
}

h1, h2 {
	font-family: "PT Sans Narrow";
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	border-bottom: 1px solid #30A894;
	color: #30A894;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2.4rem;
	margin: 0;
}

p {
	margin: 15px 0;
}

.containere {
	margin: 25px;
	position: fixed;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 10%;
}
/* HEADER */
header {
	text-align: center;
}

header nav {
    background-color: #4C85FF;
    margin-top: 10px;
    margin-left: 0%;
    margin-right: -107%;
}

header nav a {
	font-family: "PT Sans Narrow";
	display: block;
	padding: 25px;
	font-size: 1.6em;
	color: white;
}

header nav a:hover {
	background-color: rgb(56, 75, 181);
}

/* SECTION */
section img {
	margin-bottom: 20px;
	margin-top: 20px;
}

aside {
	display: none;
	margin-top: 50px;
	position: fixed;
}

/* LICENCE */
#licence {
    display: block;
    text-align: center;
    padding: 25px;
}

#licence img {
    width: 50px;
}

#menu{
	text-align: center;
	font-size: 35px;
}
.fixedTop{
	position: fixed;
	top:0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Tout mon menu (avec la barre qui bouge */
*, *:before, *:after {
box-sizing: border-box;
margin: 0px;
padding: 0px; }

.primary-nav {
margin: 2em auto;
list-style: none;
max-width: 500px; }
.primary-nav a {
float: left;
width: 16.66667%;
background: transparent;
text-align: center;
padding: 1.5em 0;
color: #333;
text-decoration: none;
font-weight: 300;
z-index: 2;
position: relative; }
.is-active a, li a:hover {
color: #333; }
.with-indicator {
position: relative; }
.with-indicator li:last-child:after {
position: absolute;
width: 16.66667%;
height: 3px;
bottom: -6px;
background: #01FF96;
z-index: 1; }
.with-indicator li:last-child:after, .with-indicator li:last-child:before {
-webkit-transition: left 1s ease;
-moz-transition: left 1s ease;
-ms-transition: left 1s ease;
-o-transition: left 1s ease;
transition: left 1s ease; }
.with-indicator li:last-child:hover:before, .with-indicator li:last-child.is-active:before {
left: 91.66667% !important; }
.with-indicator li:last-child:hover:after, .with-indicator li:last-child.is-active:after {
left: 83.33333% !important; }
.primary-nav:before, .with-indicator li:last-child:before,
.primary-nav:after,
.with-indicator li:last-child:after {
content: " ";
display: block; }
.primary-nav:after, .with-indicator li:last-child:after {
clear: both; }

.Nav-item:nth-child(1).is-active ~ li:last-child:after {
left: 0%; }
.Nav-item:nth-child(1).is-active ~ li:last-child:before {
left: 8.33333%; }
.Nav-item:nth-child(2).is-active ~ li:last-child:after {
left: 16.66667%; }
.Nav-item:nth-child(2).is-active ~ li:last-child:before {
left: 25%; }
.Nav-item:nth-child(3).is-active ~ li:last-child:after {
left: 33.33333%; }
.Nav-item:nth-child(3).is-active ~ li:last-child:before {
left: 41.66667%; }
.Nav-item:nth-child(4).is-active ~ li:last-child:after {
left: 50%; }
.Nav-item:nth-child(4).is-active ~ li:last-child:before {
left: 58.33333%; }
.Nav-item:nth-child(5).is-active ~ li:last-child:after {
left: 66.66667%; }
.Nav-item:nth-child(5).is-active ~ li:last-child:before {
left: 75%; }
.Nav-item:nth-child(1):hover ~ li:last-child:after {
left: 0%; }
.Nav-item:nth-child(1):hover ~ li:last-child:before {
left: 8.33333%; }
.Nav-item:nth-child(2):hover ~ li:last-child:after {
left: 16.66667%; }
.Nav-item:nth-child(2):hover ~ li:last-child:before {
left: 25%; }
.Nav-item:nth-child(3):hover ~ li:last-child:after {
left: 33.33333%; }
.Nav-item:nth-child(3):hover ~ li:last-child:before {
left: 41.66667%; }
.Nav-item:nth-child(4):hover ~ li:last-child:after {
left: 50%; }
.Nav-item:nth-child(4):hover ~ li:last-child:before {
left: 58.33333%; }
.Nav-item:nth-child(5):hover ~ li:last-child:after {
left: 66.66667%; }
.Nav-item:nth-child(5):hover ~ li:last-child:before {
left: 75%; }
.menu {
min-height: 75px;
}
/* Tout mon menu (avec la barre qui bouge */

.Nav-item {
min-width:150px;
}

.menu {
border-bottom: 2px solid black;
background-color:white;
padding:0px;
margin:0px;
}


/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
	section, aside {
		display: block;
		padding: 25px;
	}

	aside {
		padding: 25px;
		background-color: #F2F1F4;
		color: #314C35;
	}
	.containere{
		display: block;
	}
}

/* VERSION DESKTOP */
@media screen and (min-width:1025px) {
	.container {
		max-width: 80%;
		margin: 0 auto;
	}

	header nav a {
		display: inline-block;
		width: 33%;
	}

	section {
		width: 70%;
		display: inline-block;
		vertical-align: top;
		padding: 25px 25px 25px 0;
		margin-top: 200px;
	}

	aside {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		margin-top: 230px;
	}
}
